p{
    color: blue;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3em;
    word-spacing: 4px;
    height: 3em;
    text-align: left;
    text-indent: 25px;
}
