body{
    text-align: center;
}
.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bolder;
}
img{
    width: 300px;
}
#nome01{
    font-size: 6em;
}
#nome02{
    font-size: 2em;
}
#nome03{
    font-size: 5em;
}
p{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}